/*Auteur: Erik van de Pol. B3Partners.*/

/* standaard tags */
body {
  background-color: #FBFFFF;
  margin: 0px;
  font-size: 10pt;
  font-family: Arial, sans-serif;
}

p {
  font-size: normal;
}
a {
  text-decoration:none;
}

a:hover {
  background-color: transparent;
  color:black;
}

table {
  position: relative;
  top: 0px;
  valign: top;
}

td {
  text-align: center;
  font-weight:bold;
  font-size:11pt;
  border: 0px none;
  border-right: 1px solid White;
}

/* overig */

#main-menu {
  border: 0px none;
}

#properties-box {
  border: 2px solid #b0c900; 
  position: relative;
  top: 0px;
}

.tab-selected {
  color:#FFFFFF;
  background-color:#D6E481;
}

.tab-unselected {
  color:#FFFFFF;
  background-color:#b0c900;
}

.tab-hover {
  color:#FFFFFF;
  background-color:#D6E481;
  cursor: pointer;
  cursor: hand;
}

.no-info {
  text-align: center;
  color: #6495ED;
  margin-left: 1in;
  margin-right: 1in;
}

.title {
  text-align: center;
  font-size: 15pt;
  font-family: Verdana, sans-serif;
  font-weight: bold;
  padding-bottom: 0.4in;
}


/* achtergrondplaatjes */
div.achtergrond-nederland {
  background-image: url(../images/achtergrond-nederland.jpg);
  background-repeat: no-repeat;
}

div.achtergrond-europa {
  background-image: url(../images/achtergrond-europa.jpg);
  background-repeat: no-repeat;
}

div.achtergrond-wereld {
  background-image: url(../images/achtergrond-wereld.jpg);
  background-repeat: no-repeat;
}

div.achtergrond-project {
  background-image: url(../images/achtergrond-project.jpg);
  background-repeat: no-repeat;
}

div.achtergrond-webservice {
  background-image: url(../images/achtergrond-webservice.jpg);
  background-repeat: no-repeat;
}

.tab-definition {
  font-family: Verdana, sans-serif;
  line-height: 135%;
  color: #000094;
  margin: 0in 0.15in 0.75in 0.15in;
  padding: 0.5in 0.9in 0in 0.9in;
}

.separator {
  text-align: center;
  margin-bottom: 10pt;
}

/* de volgende classes zijn voor het overschrijven van waardes uit generic.css van de NPS editor */
.unchanged_value {
  color: inherit;
  cursor: pointer;
  cursor: hand;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
}

.changed_value {
  color: purple;
  cursor: pointer;
  cursor: hand;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
}

.single_element	{
  font-weight: normal;
  margin-left: 0px;
  text-indent: 0px;
}

.single_Belement{
  font-weight: bold;
  margin-left: 0px;
  text-indent: 0px;
}

.single_Melement{
  font-weight: bold;
  color: #EE0000;
  margin-left: 0px;
  text-indent: 0px;
}		

.section_title {
		color: #000;
		font-size: 13px;
		text-decoration: none;
		font-weight: bold;
		padding-left: 2px;
		}
.section_Stitle {
		color: #000;
		font-size: 13px;
		text-decoration: none;
		font-weight: normal;
		padding-left: 2px;
		}
.section_Mtitle {
		/*color: #EE0000;*/
		color: #2E8B57;
		font-size: 13px;
		text-decoration: none;
		font-weight: bold;
		padding-left: 0px;
		}
.section_Mtitle_hover {
		color: #00DD00;
		font-size: 13px;
		text-decoration: none;
		font-weight: bold;
		padding-left: 0px;
		}
		
.section_path {
		color: #999;
		font-size: 12px;
		text-decoration: none;
		/*font-weight: bold;*/
		padding-right: 2px;
		}


div.folder {
	border:0px solid #fff;
	margin:0px 0px 0px 0px;	
}

div.content	{
	margin: 0px;
	margin-left: 16px;
}

div.section {
	margin-top:2px;
	margin-bottom:2px;
}

.expand {
	position: relative;
	left: -16px;
}

.menuimg {
	position: relative;
	left: -16px;
}

/* pop-up menus */

.menu {
	background-color: #fff;
	border: 1px solid #999; 
	padding: 2px 0px 2px 0px;
	position: absolute;  /* key attribute for hovering menu */
	z-index: 9990;/* werkt niet helemaal lekker in IE */
	display: none;
}
ul.menu a {
	margin: 1px 0px 1px 0px;
	color: #000;
	padding: 1px 5px 1px 10px;
	font-weight: normal;
	width: 180px;
}		
ul.menu a:hover {
	background-color: #eee;
	color: black;
}		
ul.menu li a {
	margin: 1px 0px 1px 0px;
	color: #000;
	padding: 1px 5px 1px 10px;
	font-weight: normal;
	width: 180px;
}		
ul.menu li a:hover {
	background-color: #eee;
	color: black;
}		
ul.menu li {
	margin: 0px;
	margin-left: 5px;
	margin-right: 5px;
}
.plus_minus	{
	color: #11b;
	font-family: monospace;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	margin: 0px 2px 0px 0px;
}