/* Reset */
.menu,
.menu ul,
.menu li {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    list-style: none;
}

.lt-ie8 .menu {
    visibility: hidden;
}

/* Menu */
.menu li {
    position: relative;
    list-style: none;
    float: left;
    display: block;
    a {
        display: block;
        @include transition-property(color);
        @include transition-duration(.2s);
        @include transition-timing-function(ease-in-out);
    }
    &:hover a {
        color: $solparc-blue;
    }
    &:hover li a {
        color: $menu-text-color;
    }
    &.submenu a {
        padding-left: 25px;
        background-image: url(../images/solutionparc-design/menuarrow.png);
        background-repeat: no-repeat;
        background-position: 8px 50%;
    }
    &.submenu ul a {
        padding-left: 8px;
        background-image: none;
    }
}

/* Sub Menu */

.menu ul {
    position: absolute;
    top: 32px;
    left: 0;
    opacity: 0;
    background-color: $menu-background-color;
    @include border-radius(5px);
    @include transition-property(opacity);
    @include transition-duration(.25s);
    @include transition-timing-function(ease);
    @include transition-delay(.1s);
}
.menu li:hover > ul { opacity: 1; }

.menu ul li {
    height: 0;
    overflow: hidden;
    padding: 0;
    @include transition-property(height);
    @include transition-duration(.25s);
    @include transition-timing-function(ease);
    @include transition-delay(.1s);
}

.menu li:hover > ul li {
    overflow: visible;
    padding: 0;
    height: 35px;
}

.menu ul li a {
    display: block;
    width: 14em;
    padding: 8px;
    margin: 0;
    border: none;
    color: $menu-text-color;
    text-decoration: none;
    border-bottom: 1px solid $menu-text-color;
    &:hover {
        color: $solparc-blue;
    }
}

.menu ul li:last-child a { border: none; }