/* 
    Document   : main.css
    Created on : 28 november 2006, 17:03
    Author     : Nando de Goeij
    Description:
        Purpose of the stylesheet follows.
*/

#error {
    border: 1px solid red;
    width: 600px;
    padding: 5px;
    margin: 10px;
    background: #fff5f5 url(../images/siteImages/error.gif) no-repeat;
}

#error h3 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 10px;
    color: red;
}

#warning {
    border: 1px solid blue;
    width: 600px;
    padding: 5px;
    margin: 10px;
    background: #fff5f5 url(../images/siteImages/warning.png) no-repeat;
}

#warning h3 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 10px;
    color: red;
}

/* 
global tag styles
*/
#html {
    height: 100%;
    margin-bottom: 1px;
}

body {
    margin: 0;
    padding: 0;
    
    font-size: 14px;
    color: #000;
    background-color: #ddd;
}

H1 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 28px;
}

H2 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 24px;
}

H3 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 20px;
}

H4 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 18px;
}

H5 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 16px;
}

#bodycontent {
    position: static;
    float: none;
    width: 1000px;
    margin-left: auto; 
    margin-right: auto;
    background-color: #E9F1F7;
    
}

#container {
    margin: 0;
    background-color: #FFF;
    background-image:  url(../images/siteImages/background.jpg);
    background-repeat: repeat-y;
}

#banner {
    background-color: #FFFFFF;
}

#banner h1 {
    margin: 0px;
    padding: .5em;
}

#balk div {
    padding-top: 5px;
    padding-right: 5px;
}

#balk div a {
    color: White;
}

#balk {
    margin: 0px;
    margin-top: 0px;
    height: 25px;
    background-image: url(../images/siteImages/bg_header.gif);
    background-repeat: repeat-x;
    border-bottom: 1px solid #FFFFFF;
    text-align: right;
}

#nav {
    display: inline;
    float: left;
    width: 175px;
    background-color: #E9F1F7;
    padding-top: 1em;
    color: #005A9C;
}

#nav p { 
    margin-top: 0;
}

#content {
    padding-top: 1em;
    padding-left: 25px;
    padding-right: 2em;
    margin: 0px 0px 0px 175px;
    background-color: #FFFFFF;
    min-height: 175px;
}

#content h2 { 
    margin-top: 0;
}

#footer {
    position: static;
    clear: both;
    background-image: url(../images/siteImages/bg_header.gif);
    background-repeat: repeat-x;
    height: 30px;
    text-align: right;
    border-top: 1px solid #FFFFFF;
}

#footertext {
    float: right;
    color: #ffffff;
    font-size: 10px;
    padding-top: 6px;
    padding-right: 8px;
}

#footertext a {
    color: #FFFFFF;
}

/* Below are the styles for creating a scrollable table */
body {
    padding-right: 0px;
    padding-left: 0px;
    background: #fff;
    padding-bottom: 0px;
    margin: 10px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000;
    padding-top: 0px;
}

table {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #005A9C;
}

td {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #005A9C;
}

a {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #203b54;
}

h1 {
    margin: 0px 0px 5px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 18px;
}

h2 {
    margin: 0px 0px 5px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 16px;
}

h3 {
    margin: 0px 0px 5px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #008000;
}

div.tableContainer {
    overflow: auto;
    height: 230px;
    text-align: left;
}

div.smallTableContainer {
    overflow: auto;
    height: 285px;
    text-align: left;
}

.fixedHeader th {
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-weight: bold;
    font-style: inherit;
    background: #E9F1F7;
    text-align: left;
}

.scrollContent td {
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-style: inherit;
    text-align: left;
}

#nav-menu ul 
{  
list-style: none;
padding: 0;
margin: 0;
}

#nav-menu ul li {
  position: relative;
  float: left;
  width: 175px;
  height: 23px;
  background-color: #1C6CA7;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  overflow: hidden;
  clear: left;
} 

#nav-menu ul li a, #nav-menu ul li a:link, #nav-menu ul li a:active, #nav-menu ul li a:visited, #nav-menu ul li a:hover {
  display: block;
  text-align: left;
  vertical-align: middle;
  color: #ffffff;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  padding-left: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  background-image: url(../images/siteImages/navigbol.gif);
  background-position: right center;
  background-repeat: no-repeat;
  cursor: pointer;
}

#nav-menu ul li a:hover {
    color: #1C6CA7; 
    background-color: #FFD96B;
 }

.intellitextLink {
    text-decoration: none;
    border-bottom: darkgreen 1px solid;
    padding-bottom: 0px;
    color: darkgreen;
    background-color: transparent;
    cursor: pointer;
    cursor: hand;
    float: inherit;
    clear: none;
}

.intellitxtTooltip {
    border: none;
    border-style: none;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    background-color: transparent;
} 


/* Fix IE. Hide from IE Mac \*/
* html #nav-menu ul li { float: left; height: 1%; }
* html #nav-menu ul li a { height: 1%; }
 
/*------------*/

.containerdiv {
    border: 1px solid #F4F5F9;
    padding: 3px;
}

#tableContainer {
    width: 792px;
    float: left;
    clear: left;
}

.serverRij, .serverRijTitel {
    clear: left;
}

.serverRijTitel div {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-weight: bold;
    font-style: inherit;
    background: #E9F1F7;
    text-align: left;
    color: #005A9C;
    float: left;
    overflow: hidden;
}

.serverRij div {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    font-style: inherit;
    text-align: left;
    height: 16px;
    float: left;
    overflow: hidden;
}

.serverRij div input {
    margin: 0px;
    padding: 0px;
}

.vakSpeciaal {
    background-color: #E9F1F7;
}
/*Treeview*/
.serviceproviderLabel{
    background-image: url(../images/treeview/map.gif);
    background-repeat: no-repeat;
    background-position: top left;
    padding-left: 22px;
    cursor: pointer;
    float: left;
}
.layerLabel{
    background-image: url(../images/treeview/kaart.gif);
    background-repeat: no-repeat;
    background-position: top left;
    padding-left: 22px;
    cursor: pointer;
    float: left;
}
.layerVink{
    float: left;
    clear: none;
}
.readOnly{
    background-color: #D8D8D8;
}
/*de holder voor de tree*/
#treeContainer {
    height: 500px;
    width: 270px;
    float: left;
    text-align: right;
}

#treeContainerSmall {
    height: 350px;
    width: 270px;
    float: left;
    text-align: right;
}

#treeContainerLarge {
    height: 450px;
    width: 400px;
    float: left;
    text-align: right;
}

#treeContainer input {
    margin-top: 5px;
}
.treeHolder{
    float: left;
    height: 470px;
    width: 270px;
    overflow: auto;
    text-align: left;
}

.treeHolderSmall{
    float: left;
    height: 320px;
    width: 270px;
    overflow: auto;
    text-align: left;
}

.treeHolderLarge{
    float: left;
    height: 450px;
    width: 400px;
    overflow: auto;
    text-align: left;
}
/*flamingo viewer*/
#flashcontent{
    float: left;
}
#tooltips {
    clear: left;
    height: 25px;
}
/*Layer order gedeelte*/
.orderLayerBox{
    overflow: auto;
    height: 100px;
    width: 400px;
    border: 1px solid #F4F5F9;
    margin-top: 10px;
    margin-bottom: 10px;
}
.orderLayerClass{
    clear: both;
    cursor: pointer;
    background-color: #ffffff;
}
.orderLayerClassSelected{
    clear: both;
    background-color: #bbbbbb;
    cursor: pointer;
}
/*map info*/
.mapInfo{
    background-color: #ffffff;
    
}
/*voor de hulp bij het maken van wms request*/
.wmscomponentdiv{
    float: left;
    width: 300px;
    max-height: 350px;
    margin-left: 10px;
}

.listdiv{
    float: left;
    width: 300px;
    height: 300px;
    overflow: auto;
}

#kopImage {
    width: 1000px;
    height: 85px;
    background-image: url(../images/siteImages/kop.jpg);
    background-position: bottom left;
    background-repeat: no-repeat;
}
.getMapLabel{
    padding: 5px;
    font-weight: bold;
    color: #1C6CA7;
}
.getMapValue{
    padding-left: 5px;
}
.volgordeBox{
    clear: both;
}