/* 
    Document   : main
    Created on : 5 september 2006, 14:13
    Author     : Roy
    Description:
        Purpose of the stylesheet follows.
*/

/* 
global tag styles
*/
body {
	padding: 0; 
	margin: 0; 
	font-size: 8pt; 
	background: white; 
	color: #000000; 
	font-family: arial, sans-serif;
}
div{   
    
}
h1{
    color: #1C6CA7;
}
a, a:visited, a:active {
	color: #7890a8; 
	text-decoration: underline;
}
a:hover {
	color: #ff9900; 
	text-decoration: underline;
}
/*Styles for main divs in siteTemplate.jsp*/
div#bodycontent{
    float: left;
}
div#top{
border: #000000 1px solid;
    float: left;
    width: 997px;
    height: 40px;
    clear: right;
}
div#menu{
border: #000000 1px solid;
    float: left;
    width: 100px;
    height: 400px;
    clear: left;
}
div#content{
    float: left;
    width: 895px;
    padding: 10px;
    
}
div#footer{
border: #000000 1px solid;
    float: left;
    width: 997px;
    clear: both;
}
/*--------------*/
/* for the menu*/
ul#nav  
{  
list-style: none;
padding: 0;
margin: 0;
}
ul#nav li {
  padding: 15px;
  color: #000000;
} 
/*------------*/

