/* these options make the input field appear at exactly the same spot as the text in Firefox (not in IE ofcourse) */
.element input {
	position: absolute;
	margin-top: -2px;
	margin-left: 2px;
	font-size: 12px;
	font-family: Verdana, sans-serif;
}

/* these options make the picklist appear at exactly the same spot as the text in Firefox (not in IE ofcourse) */
.element select {
	position: absolute;
	margin-top: -3px;
	margin-left: -2px;
	font-size: 12px;
	font-family: Verdana, sans-serif;
}