#error {
    border: 1px solid red;
    background: #fff5f5 url(../images/siteImages/warning.jpg) no-repeat;
}

#error h3 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: red;
}

#warning {
    border: 1px solid blue;
    background: #fff5f5 url(../images/siteImages/warning.png) no-repeat;
}

#warning h3 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: red;
}

body {
    color: #000;
    background-color: White;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#bodycontent {
    background-color: White; 
    
}

#container {
    background-color: #FFF;
    background-image:  url(../images/siteImages/background.jpg);
    background-repeat: repeat-y;
    width: 100%;
}

#banner {
    width: 206px;
    height: 99px;
    padding: 0px;
    background-image: url(../images/mnp/banner_left.gif);
    background-repeat: repeat;
    border: 0px none White;
}

#balk div a {
    color: White;
}

#balk {
    background-image: url(../images/mnp/banner_right.gif);
    background-repeat: repeat;
    border: 0px none White;
    text-align: left;
    width: 100%;
    height: 99px;
}

#balk div {
    padding: 0px;
}

.loginlink {
    padding: 0px;
    float: right;
    margin-top: 20px;
    margin-right: 15px;
}

#banner {
    float: left;
}

#menudiv {
    position: absolute;
    right: 50%;
    margin-right: -522px;
}

#nav {
    background-color: transparent;
    padding-top: 0px;
    color: none;
    
    width: 700px;
    float: right;
    margin-top: 55px;
}

#nav center {
    display: none;
}

#nav p {
    margin: 0px;
    padding: 0px;
}

#nav-menu {
    margin-top: 3px;
    float: right;
    margin-right: 40px;
}


#nav-menu  a, #nav-menu  a:link, #nav-menu  a:active, #nav-menu  a:visited, #nav-menu  a:hover {
  text-decoration: none;
  display: block;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  height: 21px;
  border: 0px none White;
  border-left: 1px solid #002B7C;
  border-top: 1px solid #002B7C;
  border-right: 1px solid #002B7C;
  color: #002B7C;
  margin: 0px;
  margin-left: 0px;
  float: left;
  font-weight: bold;
  background-color: #B0C900;
}

#nav-menu a:hover {
    text-decoration: underline;
}

#content {
    background-color: #FFFFFF;
    width: 950px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../images/mnp/maindiv_bg.gif);
    background-repeat: repeat-y;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

#footer {
    background-image: url(../images/mnp/footer.gif);
    background-repeat: repeat;
    border: 0px none White;
    text-align: right;
    width: 100%;
    height: 20px;
}

#footertext {
    color: #ffffff;
}

#footertext a {
    color: #FFFFFF;
}

table {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #005A9C;
}

td {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #005A9C;
}

a {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #203b54;
}

h1 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

h2 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

h3 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #008000;
}

h4 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

h5 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

div.tableContainer {
    text-align: left;
}

div.smallTableContainer {
    text-align: left;
}

.fixedHeader th {
    font-weight: bold;
    font-style: inherit;
    background: #E9F1F7;
    text-align: left;
}

.scrollContent td {
    font-style: inherit;
    text-align: left;
}
 
.intellitextLink {
    border-bottom: darkgreen 1px solid;
    color: darkgreen;
    background-color: transparent;
}

.intellitxtTooltip {
    border: none;
    border-style: none;
    background-color: transparent;
}
.containerdiv {
    border: 0px none White;
}

#tableContainer {
    width: 792px;
}

.serverRijTitel div {
    font-style: inherit;
    background: #E9F1F7;
    text-align: left;
    color: #005A9C;
}

.serverRij div {
    font-style: inherit;
    text-align: left;
}

.vakSpeciaal {
    background-color: #E9F1F7;
}

.serviceproviderLabel{
    background-image: url(../images/treeview/map.gif);
    background-repeat: no-repeat;
    background-position: top left;
}
.layerLabel{
    background-image: url(../images/treeview/kaart.gif);
    background-repeat: no-repeat;
    background-position: top left;
}
.readOnly{
    background-color: #D8D8D8;
}

.orderLayerBox{
    border: 1px solid #F4F5F9;
}
.orderLayerClass{
    background-color: #ffffff;
}
.orderLayerClassSelected{
    background-color: #bbbbbb;
}
.mapInfo{
    background-color: #ffffff; 
}

#kopImage {
    background-image: url(../images/mnp/mnp_kop.gif);
    width: 1000px;
    height: 99px;
    padding: 0px;
    margin: 0px;

    height: 99px;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -480px;
}

#content_c {
    padding-top: 1em;
    padding-left: 25px;
    padding-right: 2em;
    background-color: #FFFFFF;
    min-height: 300px;
    display: block;
    position: auto;
}

#initiatief {
    width: 1000px;
    height: 20px;
    background-image: url(../images/mnp/footer.gif);
    float: right;
    position: relative;
    top: 0px;
    right: 50%;
    margin-right: -520px;
    display: none;
}

.knoppen {
    float: left;
    clear: left;
}

/* Stijl voor de content */