<?xml version="1.0" encoding="UTF-8"?>

<!--
    Document   : config.xml
    Created on : 24 januari 2007, 11:16
    Author     : Roy
    Description:
        Purpose of the document follows.
-->

<FLAMINGO xmlns:fmc="flamingo" lang="en" languages="en,nl" tooltipdelay="300" commtojava="true" preloadtitle="Groundwatermap">
    <style id=".tooltip" font-family="Verdana" font-size="11" color="#880000" display="block"/>
    <yguide id="my" y="50%"/>
    <xguide id="mx" x="50%"/>
    <fmc:MonitorMap id="monitor2" left="165" top="60" listento="mainMap"/>
    <fmc:MonitorLayer id="monitor" left="165" top="100" listento="mainMap"/>
        <fmc:ToolGroup tool="zoom" listento="mainMap" width="148" height="65" left="0" top="0">
            <fmc:ToolZoomin id="zoom"/>
            <fmc:ToolZoomout left="30"/>
            <fmc:ToolPan left="60"/>
            <fmc:ToolMeasure left="90"/>
            <fmc:ToolIdentify left="120"/>
        </fmc:ToolGroup>                                                                                
    <fmc:BorderNavigation listento="mainMap"/>
    <fmc:Map id="mainMap" left="0" top="0" height="100%" width="100%" bottom="bottom" visible="true" extent="130087,315639,249418,386267">
        <fmc:LayerIdentifyIcon  id="identifyicon"  />
        <!--De onderstaande layer wordt steeds aangepast door de servlet zodat verschillende mappen kunnen worden getoond.-->
        <fmc:LayerOGWMS id="map" url="../servlet/CallWMSServlet/?SERVICE=WMS&amp;VERSION=1.1.1&amp;STYLES=&amp;SRS=EPSG:28992&amp;EXCEPTIONS=INIMAGE&amp;WRAPDATELINE=true&amp;BGCOLOR=0xF0F0F0" LAYERS=""/>
    </fmc:Map>
    <fmc:Window  title="info" visible="false" canresize="true" width="50%" height="20%" left="50%" top="0">
        <string id="title" nl="informatie"  en="information"/>
        <fmc:IdentifyResults  width="100%" height="100%" visible="true" listento="mainMap" />
    </fmc:Window>
</FLAMINGO>