<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    
    <!-- Localization context voor o.a. de <fmt:message> JSTL tag -->
    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
        <param-value>KaartenbalieResources</param-value>
    </context-param>
    <!-- NL locale voor formatten van getallen: 1.234.567,89 -->
    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.locale</param-name>
        <param-value>nl</param-value>
    </context-param>
    
    <filter>
        <filter-name>Security Filter</filter-name>
        <filter-class>org.securityfilter.filter.SecurityFilter</filter-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/securityfilter-config.xml</param-value>
            <description>Configuration file location (this is the default value)</description>
        </init-param>
        <init-param>
            <param-name>validate</param-name>
            <param-value>true</param-value>
            <description>Validate config file if set to true</description>
        </init-param>
    </filter>
    <!-- map all requests to the SecurityFilter, control what it does with configuration settings -->
    <filter-mapping>
        <filter-name>Security Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/conf/struts-default.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/viewer</param-name>
            <param-value>/WEB-INF/conf/struts-viewer.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/beheer</param-name>
            <param-value>/WEB-INF/conf/struts-beheer.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/demo</param-name>
            <param-value>/WEB-INF/conf/struts-demo.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>2</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>mydatabase</servlet-name>
        <servlet-class>nl.b3p.kaartenbalie.service.MyDatabase</servlet-class>
        <init-param>
            <param-name>cache</param-name>
            <param-value/>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>CallWMSServlet</servlet-name>
        <servlet-class>nl.b3p.kaartenbalie.service.servlet.CallWMSServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FlamingoConfigServlet</servlet-name>
        <servlet-class>nl.b3p.kaartenbalie.service.servlet.FlamingoConfigServlet</servlet-class>
        <init-param>
            <param-name>defaultConfigLocation</param-name>
            <param-value>/viewer/flamingo/config.xml</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CallWMSServlet</servlet-name>
        <url-pattern>/servlet/CallWMSServlet/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FlamingoConfigServlet</servlet-name>
        <url-pattern>/servlet/FlamingoConfigServlet/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            index.do
        </welcome-file>
    </welcome-file-list>
    <!-- SecurityFilter works with custom error pages  -->
    <error-page>
        <error-code>401</error-code>
        <location>/norights.do</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/norights.do</location>
    </error-page>
</web-app>
