/*
 * B3P Kaartenbalie is a OGC WMS/WFS proxy that adds functionality
 * for authentication/authorization, pricing and usage reporting.
 *
 * Copyright 2006, 2007, 2008 B3Partners BV
 * 
 * This file is part of B3P Kaartenbalie.
 * 
 * B3P Kaartenbalie is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * B3P Kaartenbalie is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with B3P Kaartenbalie.  If not, see <http://www.gnu.org/licenses/>.
 */

/* 
    Document   : testFloatIFrame
    Created on : 17 maart 2008, 17:43
    Author     : Erik
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.containerdiv {
    width: 200px;
    border: 1px solid black;
	clear: both;
}

.containerdivFloat {
	height: 100px;
	width: 50px; 
	border: 1px solid red; 
	overflow: scroll;  /*auto*/
	float: left;
}

.containerdivBare {
	height: 100px;
	width: 50px; 
	border: 1px solid green; 
	overflow: scroll;
}

.nothing {

}

