#content {
    height: 300px;
}

#tableContainer {
    width: 760px;
}

.containerdiv {
    width: 760px;
}

#menudiv {
    margin-right: -562px;
}

#initiatief {
    position: fixed;
    margin-right: 75px;
}

#copyright {
    position: fixed;
    margin-left: 75px;
}