/* 	generic.css
	1/19/2005 Eric Compas
	Stylesheet for displaying
	the html result from a
	generic XSL stylesheet */
	
body    {
		margin: 0;
		font-size:14px;
		font-family:Arial, sans-serif;
		}
h1		{
		margin: 0;
		font-size: 16px;
		color:#ffffff;
		}
h2		{
		margin: 5px;
		font-size: 14pt;
		}
p		{
		font-size:12px;
		margin: 0;
		}
		
ul		{
		margin: 0px 0px 0px 0px;
		}
li		{
		margin-left: 50px;
		margin-bottom: 2px;
		}
textarea	{
		font-family:Arial, sans-serif;
		font-size: 12px;
		}
input	{
		font-family:Arial, sans-serif;
		font-size: 12px;
		}

a {
	text-decoration:none;
}

a:hover {
	/*border-color:gray;*/
	background-color:#eee;
	color:black;
	}

/* pop-up menus */

.menu {
	background-color: #fff;
	border: 1px solid #999; 
	padding: 2px 0 2px 0;
	position: absolute;  /* key attribute for hovering menu */
	display: none;
	}
ul.menu a {
	font-size: 12px;
	margin: 1px 0 1px 0;
	color: #000;
	padding: 1px 5px 1px 10px;
	font-weight: normal;
	width: 100%;
	}		
ul.menu li {
	margin: 0;
	margin-left: 5px;
	}
	
/* span classes */
.plus_minus	{
		color: #11b;
		font-family: monospace;
		font-size: 16px;
		font-weight: bold;
		text-decoration: none;
		margin: 0 2px 0 0;
		}	
.section_title {
		color: #000;
		font-size: 13px;
		text-decoration: none;
		font-weight: bold;
		padding-left: 2px;
		}
.section_Stitle {
		color: #000;
		font-size: 13px;
		text-decoration: none;
		font-weight: normal;
		padding-left: 2px;
		}
.section_Mtitle {
		color: #EE0000;
		font-size: 13px;
		text-decoration: none;
		font-weight: bold;
		padding-left: 2px;
		}
.section_Ftitle {
		color: #000;
		font-size: 15px;
		text-decoration: none;
		font-weight: bold;
		padding-left: 2px;
		}		
.section_path {
		color: #999;
		font-size: 12px;
		text-decoration: none;
		/*font-weight: bold;*/
		padding-right: 2px;
		}
.unchanged_value {
		cursor: hand;
		color: #000099;
		font-size: 12px;
		font-weight: normal;
		font-style: normal;
		padding-right: 2px;
		}
.instruction {
		color: #000000;
		font-size: 12px;
		font-weight: normal;
		font-style: normal;
		padding-right: 5px;
		margin-left: 20px;
		}
.changed_value {
		color: purple;
		cursor: hand;
		font-size: 12px;
		font-weight: normal;
		font-style: normal;
		padding-right: 2px;
		}
.default_value {
		color: #2D7D32;
		cursor: hand;8
		font-size: 12px;
		font-weight: normal;
		font-style: normal;
		}
.mandatory_value {
		color: #2D0000;
		cursor: hand;8
		font-size: 12px;
		font-weight: bold;
		font-style: normal;
		}		
.single_element	{
		font-weight: normal;
		/*margin-left:12px;*/
		/*following two lines for hanging indent*/
		margin-left:39px;
		text-indent: -27px;
		}
.single_Belement{
		font-weight: bold;
		/*margin-left:12px;*/
		/*following two lines for hanging indent*/
		margin-left:39px;
		text-indent: -27px;
		}
.single_Melement{
		font-weight: bold;
		color: #EE0000;
		margin-left:39px;
		text-indent: -27px;
		}		
.repeat_element {
		font-weight: normal;
		/*margin-left:12px;*/
		margin-left:39px;
		text-indent: -27px;
		}
.repeat_Belement {
		font-weight: bold;
		/*margin-left:12px;*/
		margin-left:39px;
		text-indent: -27px;
		}
.repeat_Melement {
		font-weight: bold;
		color: #EE0000;
		margin-left:39px;
		text-indent: -27px;
		}		
.hiddenXML	{
		display: none;
		}
.noedit	{
		color: #777;
		font-weight: normal;
}

/* div sections */
div.header {
	background-color:#000000;
	margin: 0;
	padding: 5px 5px 5px 5px;
	}
div.titlebar {
	background-color:#f5f0dd;
	margin: 0;
	padding: 5px 5px 5px 5px;
	border-top: solid 1px #888888;
	border-bottom: solid 1px #888888;
	font-size: 14px;
	font-weight: bold;
	}
div.instruction {
	margin: 5px;
}
div.main {
	margin: 5px;	
}
div.folder {
	border:1px solid #fff;
	margin:0px 0px 5px 12px;	
}
div.content	{
	margin:0;
	margin-left: 2px;
	}
div.section {
	margin-top:2px;
	margin-bottom:2px;
}
div.footer {
	background-color:#f5f0dd;
	margin: 0px;
	padding: 5px;
	border-top: solid 1px #888888;
	border-bottom: solid 1px #888888;
}
div.hidden {
	display: none;
}

/* buttons */
input.section {
   color:#676769;
   font-family:arial,helvetica,sans-serif;
   font-size:80%;
   font-weight:bold;
   background-color:#f5f0dd;
   border:1px solid #676769;
}
input.element {
   color:#676769;
   /*font-family:arial,helvetica,sans-serif;*/
   font-family:monospace;
   font-size:70%;
   font-weight:bold;
   background-color:#f5f0dd;
   border:1px solid #676769;
}
