/*Auteur: Erik van de Pol. B3Partners.*/

body {
	background-color: #FBFFFF;
	padding: 0px;
	margin: 5px;
	font-size: 12px;
	font-family: Arial, sans-serif;
}

p {
	font-size: normal;
	margin: 0px; 
}

a {
	text-decoration: none;
}

/*
a:hover {
	background-color: transparent;
	color: black;
}
*/

table {
	position: relative;
	top: 0px;
	vertical-align: top;
}

td {
	text-align: center;
	font-weight: bold;
	font-size: 11pt;
	border: 0px none;
	border-right: 1px solid white;
}	

ul {
	margin: 0px;
}

li {
	margin-left: 50px;
	margin-bottom: 2px;
}

/*
textarea {
	font-family: Arial, sans-serif;
	font-size: 12px;
}

input {
	font-family: Arial, sans-serif;
	font-size: 12px;
}
*/

/* pop-up menus */

.menu {
	background-color: #fff;
	border: 1px solid #999; 
	padding: 2px 0px 2px 0px;
	position: absolute;  /* key attribute for hovering menu */
	/*z-index: 9990;*/ /* werkt niet helemaal lekker in IE */
	display: none;
}

ul.menu a {
	color: #000;
	margin: 1px 0px 1px 0px;
	padding: 1px 5px 1px 10px;
	/*font-size: 12px;*/
	font-weight: normal;
	width: 180px;
	/*width: 100%;*/
}

/*		
ul.menu a:hover {
	background-color: #eee;
	color: black;
}*/
		
ul.menu li a {
	margin: 1px 0px 1px 0px;
	color: #000;
	padding: 1px 5px 1px 10px;
	font-weight: normal;
	width: 180px;
}

/*	
ul.menu li a:hover {
	background-color: #eee;
	color: black;
}
*/
	
ul.menu li {
	margin: 0px;
	margin-left: 5px;
	margin-right: 5px;
}

/* span classes */
.key {
	vertical-align: top;
}

.unchanged-value {
	color: #000099;
	cursor: pointer;
	cursor: hand;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	padding-right: 2px;
}

.changed-value {
	color: purple;
	cursor: pointer;
	cursor: hand;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	padding-right: 2px;
}

.default-value {
	color: #2D7D32;
	cursor: pointer;
	cursor: hand;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	padding-right: 2px;
}

.mandatory-value {
	color: #2D0000;
	cursor: pointer;
	cursor: hand;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	padding-right: 2px;
}

.element {
	font-weight: bold;
	margin-left: 0px;
	line-height: 200%;
}

.element-mandatory {
	font-weight: bold;
	margin-left: 0px;
	line-height: 200%;
	color: #EE0000;
}

.section-title {
	/*color: #EE0000;*/
	color: #2E8B57;
	font-size: 13px;
	text-decoration: none;
	font-weight: bold;
	padding-left: 0px;
}

.section-title-hover {
	color: #00DD00;
	font-size: 13px;
	text-decoration: none;
	font-weight: bold;
	padding-left: 0px;
}

.expandable {
	position: relative;
	left: -16px;
}

.menuimg {
	position: relative;
	left: -16px;
}

/* div sections */
div.header {
	background-color: #000000;
	margin: 0px;
	padding: 5px 5px 5px 5px;
}

div.title-bar {
	background-color: #f5f0dd;
	margin: 0px;
	padding: 5px 5px 5px 5px;
	border-top: solid 1px #888888;
	border-bottom: solid 1px #888888;
	font-size: 14px;
	font-weight: bold;
}

div.instruction {
	margin: 5px;
}

div#writeroot {
	/*margin: 5px;*/
}

div.footer {
	background-color: #f5f0dd;
	margin: 0px;
	padding: 5px;
	border-top: solid 1px #888888;
	border-bottom: solid 1px #888888;
}

div.hidden {
	display: none;
}

div.section {
	margin-top: 2px;
	margin-bottom: 2px;
}

div.section-content	{
	margin: 0px;
	margin-left: 16px;
}

/* buttons */
/*
input.section {
	color: #676769;
	font-family: arial,helvetica,sans-serif;
	font-size: 80%;
	font-weight: bold;
	background-color: #f5f0dd;
	border: 1px solid #676769;
}

input.element {
	color: #676769;
	font-family:arial,helvetica,sans-serif;
	font-family: monospace;
	font-size: 70%;
	font-weight: bold;
	background-color: #f5f0dd;
	border: 1px solid #676769;
}*/

/* overig */

div#main-menu {
	border: 0px none;
}

div#properties-box {
	border: 2px solid #b0c900; 
	position: relative;
	top: 0px;
	font-family: Verdana, sans-serif;
	color: #000094;
	padding: 10px;
	padding-left: 30px;
	padding-right: 20px;
}

.tab-selected {
	color: #FFFFFF;
	background-color: #D6E481;
}

.tab-unselected {
	color: #FFFFFF;
	background-color: #b0c900;
}

.tab-hover {
	color: #FFFFFF;
	background-color: #D6E481;
	cursor: pointer;
	cursor: hand;
}

.no-info {
	text-align: center;
	color: #6495ED;
}

.separator {
	text-align: center;
	margin-bottom: 10px;
}

img.plus-minus {
	border: 0px solid #fff;
	padding: 0px;
	margin: 0px;
	margin-right: 5px;
}

.debug-box {
	background-color: white;
	font-family: monospace;
	border: solid black 3px;
	padding: 10px;
}