html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px none;
}

body.homebody {
    text-align: center;
}

#wrapper {
    height: auto;
    min-height: 100%;
    width: 100%;
    min-width: $content-width;
}

#header {
    height: $header-height;
    width: 100%;
}

#header_content {
    width: $content-width;
    @include center-textleft;
}

#topmenu {
    float: $menu-float;
    margin-top: $menu-margin-top;
}

#content_normal {
    min-height: 500px;
    width: 100%;
    display: block;
    padding-bottom: $footer-height;
}

#content {
    width: $content-width;
    @include center-textleft;
    @include clearfix;
}

#footer {
    clear: both;
    margin-top: -$footer-height;
    height: $footer-height;
    width: 100%;
}

#footer_content {
    width: $content-width;
    @include center-textleft;
}

#footer_tekst_links {
    float: left;
}

#footer_tekst_rechts {
    float: right;
    margin-right: 125px;
}

.footer_tekst a.gpl_link{
    color: #7891A5;
    font-size: 11px;
    margin-top: 18px;
    text-decoration: underline;
}

#acknowledge {
    @include message($message_acknowledge_border, $message_acknowledge_background, $message_acknowledge_icon);
}

.acknowledge_tab {
    @extend #acknowledge;
    width: 215px;
}

#error {
    @include message($message_error_border, $message_error_background, $message_error_icon);
}

#error_tab {
    @extend #error;
    width: 215px;
}

.infobalk {
    height: 20px;
    padding-top: 3px;
    margin: 0px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 8px;
    width: 940px;
    padding-left: 10px;
}

.infobalk .infobalk_description {
    text-align: left;
    width: 150px;
    float: left;
}

.infobalk .infobalk_actions {
    text-align: right;
    width: 780px;
    float: left;
    margin-top: 1px;
}

#popupWindow {
    position: absolute;
    z-index: 110;
    left: 5%;
    bottom: 20px;
    width: 90%;
    height: 20%;
}

#popupWindow_Handle {
    height: 21px;
    width: 100%;
    z-index: 110;
}

#popupWindow_Close {
    float: right;
    z-index: 110;
    padding: 3px;
}

#dataframedivpopup {
    height: 100%;
    width: 100%;
    border: 0px;
    z-index: 110;
    background-color: White;
    position: absolute;
}

#dataframeballoonpopup{
    height: 100%;
    width: 100%;
    border: 0px;
    z-index: 110;
    background-color: White;
    position: absolute;
}

#popupWindow_Resizediv {
    height: 100%;
    width: 100%;
    border: 0px;
    z-index: 111;
    background-color: transparent;
    display: none;
    position: absolute;
    left: 0px;
    right: 0px;
}

#popupWindow_Content {
    position: absolute;
    top: 21px;
    bottom: 12px;
    left: 0px;
    right: 0px;
    z-index: 110;
}

#popupWindow_Title {
    float: left;
    z-index: 110;
    padding: 3px;
}

#popupWindow_Windowbackground {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 99;
    display: none;
}

#loadingDiv {
    position: absolute;
    left: 0px;
    top: 0px;
    padding-top: 10px;
    width: 350px;
    height: 50px;
    margin-left: -10px;
    margin-top: -25px;
    z-index: 110;
    display: none;
}

.admindataSmallCell {
    display: block;
    padding-left: 1px;
    padding-right: 20px;
    float: left;
}

.topRow.topRowHeader {
    margin-bottom: 0px;
    cursor: pointer;
    width: 100%;
    height: 20px;
    clear: both;
}

.topRow.topHeader {
    width: 100%;
    clear: both;
    margin-bottom: 5px;
}

.openclosediv {
    padding: 0px;
    margin-top: 1px;
    height: 10px;
    width: 10px;
    margin-right: 5px;
    float: left;
}

.toprowbuttons {
    margin-left: 10px;
    visibility: hidden;
}

.tab-row {
    color: #fff;
    font-size: 1.0em;
}

.iframe_tekstblok {
    width: 450px;
    height: 180px;
}

.bronContainer {
    border: 1px solid #D2E0EB;
}

.bronCaption {
    background-color: #D2E0EB;
    /* border: 1px solid gray; */
}

.bronContent, .bronContentOpen {
    border: 1px solid #D2E0EB;
}

#adminDataWrapper {
    float: left;
    min-width: 100%;
}

.bronContainer.rootBronContainer {
    float: left;
    min-width: 100%;
    border-left: 0px;
    border-right: 0px;
    clear: left;
}

.bronContainer .bronCaption {
    padding-left: 2px;
}

#tabContainer .bronCaption, #tabContainer .bronContent {
    margin: 2px;
}

#tabContainer .bronCaption {
    margin-bottom: 0px;
    padding: 2px;
}

#tabContainer .bronContent {
    margin-top: 0px;
}

.bronContent table {
    min-width: 100%;
}

.bronContainer table a, .bronContainer table a:visited, .bronContainer table a:active {
    color: #144264;
    text-decoration: underline;
}

.tabField {
    float: left;
    margin-left: 2px;
    padding-top: 3px;
    height: 17px;
    padding-left: 6px;
    padding-right: 6px;
    background: $basecolor2;
    color: $basecolor1;
    font-weight: bold;
    cursor: pointer;
    @include border-top-radius(10px);
}

.tabField.tabFieldActive {
    background: $basecolor1;
    color: $basecolor2;
    cursor: auto;
}

.childCaption {
    background-color: #D2E0EB;
    padding: 3px;
    /* border: 1px solid gray; */
}

.childCaption img {
    margin-top: 2px;
}

.bronChild bronChildEmpty {
    border: 1px solid #D2E0EB;
}

/*************Balloon css:***************/
.infoBalloon{
    position: absolute;
}
.infoBalloon div{
    position: absolute;
    overflow: hidden;
}
/*Balloon Arrows*/
.balloonArrow {
    width: 40px;
    height: 40px;
}
.balloonArrow  img{
    position: absolute;
}
.balloonArrowTopLeft{
    left: 0px;
    top: 0px;
}
.balloonArrowTopRight{
    right: 0px;
    top: 0px;
}
.balloonArrowTopRight img{
    left: -40px;
}
.balloonArrowBottomLeft{
    left: 0px;
    bottom: 0px;
}
.balloonArrowBottomLeft img{
    left: -80px;
}
.balloonArrowBottomRight{
    right: 0px;
    bottom: 0px;
}
.balloonArrowBottomRight img{
    left: -120px;
}
/*Balloon Content*/
.balloonContent{
    left: 7px;
    right: 7px;
    overflow: hidden;
}
.balloonCloseButton{
    position: absolute;
    background: url("../images/close.gif") no-repeat scroll 0 0 transparent;
    height: 17px;
    width: 17px;
    cursor: pointer;
}

/*Slider*/
.slider{
    margin-left: 10px;
    margin-right: 10px;
}

.printvoorbeeld_help {
    font-size: 1.3em;
    color: #000;
    border: 1px solid #000;
    background-color: #eee;
    padding: 5px;
    width: 400px;
}

/* OpenLayers */
.olImageLoadError {
    background-color: transparent !important;
}