<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<!--
    Document   : hibernate.cfg.xml
    Created on : 7 september 2006, 10:07
    Author     : Roy
    Description:
        Purpose of the document follows.
-->
<hibernate-configuration>
<session-factory>
        <!-- No need for it anymore...
        <property name="connection.datasource">java:comp/env/jdbc/kaartenbalie</property>
               
        <property name="show_sql">false</property>
        <property name="format_sql">false</property>
        <property name="use_sql_comments">true</property>

        <property name="dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
        
        <property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
        <property name="current_session_context_class">thread</property>
        
        <property name="jdbc.batch_size">20</property>
        -->
        <!-- Mapping files -->
        <!-- No need for references to mappings files. Let EM scan for them instead..
        <mapping resource="attribution.hbm.xml"/>
        <mapping resource="contactInformation.hbm.xml"/>
        <mapping resource="organization.hbm.xml"/>
        <mapping resource="serviceDomainResource.hbm.xml"/>
        <mapping resource="serviceProvider.hbm.xml"/>
        <mapping resource="user.hbm.xml"/>
        <mapping resource="layer.hbm.xml"/>
        <mapping resource="dimensions.hbm.xml"/>
        <mapping resource="identifier.hbm.xml"/>
        <mapping resource="layerDomainResource.hbm.xml"/>
        <mapping resource="srsboundingbox.hbm.xml"/>
        <mapping resource="style.hbm.xml"/>
        <mapping resource="styleDomainResource.hbm.xml"/>
        <mapping resource="roles.hbm.xml"/>
        <mapping resource="ipaddresses.hbm.xml"/>
        <mapping resource="report_serviceproviderrequest.hbm.xml"/>
        <mapping resource="report_clientrequest.hbm.xml"/>
        -->
</session-factory>
</hibernate-configuration>

