<?xml version="1.0" encoding="UTF-8"?>

<!--
    Document   : config.xml
    Created on : 24 januari 2007, 11:16
    Author     : Roy
    Description:
        Purpose of the document follows.
-->
<FLAMINGO xmlns:fmc="fmc" lang="nl" languages="en,nl" tooltipdelay="300" commtojava="true" preloadtitle="Kaartenbalie" useexternalinterface="true">
    <!--fmc:Window  title="debugger" canresize="true" width="200" height="200" left="10" top="10">
              <fmc:Debugger width="100%" height="100%" listento="mainMap_map"/>
  </fmc:Window-->
  <style id=".tooltip" font-family="Verdana" font-size="11" color="#880000" display="block"/>
    <fmc:MonitorMap id="monitor" left="165" top="100" listento="mainMap">
       <string id="waiting"  en="Making... [layer] [percentage]%..." nl="Kaart aan het maken..."/>
    </fmc:MonitorMap>
    <fmc:ToolGroup tool="zoom" listento="mainMap" width="148" height="65" left="0" top="0">
        <fmc:ToolZoomin id="zoom"/>
        <fmc:ToolZoomout left="30"/>
        <fmc:ToolPan left="60"/>
        <fmc:ToolMeasure left="90"/>
        <fmc:ToolIdentify left="120"/>
    </fmc:ToolGroup>                                                                                
    <fmc:BorderNavigation listento="mainMap" top="5%" width="100%" height="95%" skin="f1"/>
    <fmc:Map id="mainMap" left="0" top="5%" height="95%" width="100%" bottom="bottom" visible="true" extent="12000,304000,280000,620000">
        <fmc:LayerIdentifyIcon/>
        <!--De onderstaande layer wordt steeds aangepast door de servlet zodat verschillende mappen kunnen worden getoond.-->
        <fmc:LayerOGWMS id="map" url="[app_root]/wms/?SERVICE=WMS&amp;FORMAT=image/png" version="1.1.1" SERVICE="WMS" LAYERS="" QUERY_LAYERS="" exceptions="inimage" srs="EPSG:28992" showerrors="false" info_format="text/html"/>
    </fmc:Map>
    <fmc:Window  title="info" visible="false" canclose="true" canresize="true" defocusalpha="10" width="100%" height="90%" left="0" top="10%">
        <string id="title" nl="Informatie"  en="Information"/>
        <fmc:Container width="100%" height="100%" backgroundcolor="#00ACE6" alpha="85">
            <fmc:IdentifyResults  width="100%" height="100%" visible="true" listento="mainMap">
                <style id=".field" font-family="verdana" font-size="11px" color="#000000" display="block" font-weight="bold"/>
                <style id=".value" font-family="verdana" font-size="11px" color="#000000" display="block" font-weight="normal"/>
                <style id=".maplayer" font-family="verdana" font-size="13px" color="#000000" display="block" font-weight="normal"/>
                <style id=".layer" font-family="verdana" font-size="12px" color="#000000" display="block" font-weight="normal"/>

                <string id="startidentify"  en="Loading" nl="Info wordt opgehaald"/>
                <string id="identify"  en="[progress]%" nl="[progress]%"/>
                <string id="finishidentify"  en="Information" nl="Informatie"/>
                <string id="seperator" en=":" nl=":"/>
            </fmc:IdentifyResults>
        </fmc:Container>
    </fmc:Window>    
</FLAMINGO>
